<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Group Name</th>
		</tr>
	</thead>
	<tbody>
	  <% @groups.each do |group| %>
		<tr>
			<td><%= group.id %></td>
			<td><%= group.group_name %></td>
		</tr>
	</tbody>
	  <% end %>
</table>


