<div class="mt-5">
    <%= link_to "Add Department", new_department_path, class: 'bg-blue-500 p-2 text-white hover:bg-blue-600' %>
</div>


<div class="inline-block min-w-full shadow rounded-lg overflow-hidden mt-5 border-t-2 border-gray-500">
  <table class="w-full bg-white">
	<thead>
		<tr class="border-b-2 border-gray-200">
			<th class="text-left px-3 py-2">id</th>
			<th class="text-left px-3 py-2">Department</th>
		</tr>
	</thead>
	<tbody>
	  <% @departments.each do |department| %>
		<tr class="border-b border-gray-200 hover:bg-gray-100">
			<td class="px-3 py-1"><%= department.id %></td>
			<td class="px-3 py-1"><%= department.name %></td>
		</tr>
	</tbody>
	<% end %>
</table>	
</div>

<%= pagy_nav(@pagy).html_safe %>



