<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Department</th>
		</tr>
	</thead>
	<tbody>
	  <% @departments.each do |department| %>
		<tr>
			<td><%= department.id %></td>
			<td><%= department.name %></td>
		</tr>
	</tbody>
	<% end %>
</table>


